<!DOCTYPE html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0">

		<link rel="stylesheet" href="styles/base.css">

		{% if title == "" %}
			<title>Jaden Peterson | ITIS 3135-091 | Singatopore</title>
		{% else %}
			<title>Jaden Peterson | ITIS 3135-091 | Singatopore | {{ title }}</title>
		{% endif %}

		{% block head %}{% endblock %}
	</head>

	<body>
		<header class="page-content-container">
			<div class="page-content">
				<nav class="nav-bar">
					<h1 class="title">
						<a href="index.html">
							<span class="title-icon material-symbols-outlined">pets</span> Singatopore
						</a>
					</h1>

					<ul class="nav-links">
						{% macro render_link(link_href, link_title) %}
							{% if link_title == title %}
								<li class="nav-link active">
									<a href="#">{{ link_title }}</a>
								</li>
							{% else %}
								<li class="nav-link">
									<a href="{{ link_href }}">{{ link_title }}</a>
								</li>
							{% endif %}
						{% endmacro %}

						{{ render_link("catalog.html", "Catalog") }}
						{{ render_link("neighborhoods.html", "Neighborhoods") }}
						{{ render_link("faq.html", "FAQ") }}
						{{ render_link("contact.html", "Contact") }}
					</ul>
				</nav>

				{% block header %}{% endblock %}
			</div>
		</header>

		<main class="page-content-container">
			<div class="page-content">
				{% if title != "" %}
					<h2 class="page-title">{{ title }}</h2>
				{% endif %}

				{% block content %}{% endblock %}
			</div>
		</main>
	</body>
</html>
