{% set title = "Catalog" %}

{% extends "client_project/base.html" %}

{% block head %}
	<link rel="stylesheet" href="styles/catalog.css">
{% endblock %}

{% block content %}
	<h3>Click on a cat to learn more about it!</h3>

	<div class="catalog">
		{% macro render_item(i, url, description) %}
			<div class="catalog-item" role="button">
				<input type="checkbox"
					id="catalog-item-checkbox-{{ i }}"
					class="catalog-item-checkbox"
					checked
					autocomplete="off">

				<label for="catalog-item-checkbox-{{ i }}">
					<img src="{{ url }}">

					<p class="catalog-item-description">{{ description }}</p>
				</label>
			</div>
		{% endmacro %}

		{{
			render_item(
				0,
				'images/cats/cat_1.jpg',
				'This picture was taken by one of our associates just prior to the start of the Spring 2023 semester. In it, one can see a brown and gray cat sleeping on an outdoor utility cabinet. Because its identity is unknown, we encourage volunteers to notify the organization if it\'s spotted in the future.'
			)
		}}

		{{
			render_item(
				1,
				'images/cats/cat_4.jpg',
				'Plum is a small, gray/brown cat who was found by our team on April 5 by a waffle restaurant at NUS. Plum loves interaction with students passing by and spends the majority of his time in one location.'
			)
		}}

		{{
			render_item(
				2,
				'images/cats/cat_3.jpg',
				'This cat was taken in low visibility by the university. It appears to be laying on the road, but we aren\'t positive as it was submitted by a anonymous contributor. One function of Singatopore is to mitigate harsh living conditions like these for our cataloged cats.'
			)
		}}

		{{
			render_item(
				3,
				'images/cats/cat_2.jpg',
				'This is also a picture of Plum. This picture was taken earlier in the Spring 2023 semester. As evident from the picture, Plum is a bit more unkept in this picture, athough he seemed to be enjoying himself nonetheless.'
			)
		}}
	</div>
{% endblock %}
