{% set title = "Contact" %}

{% extends "client_project/base.html" %}

{% block head %}
	<link rel="stylesheet" href="styles/contact.css">
{% endblock %}

{% block content %}
	<h3>Contact Singatopore with the form below.</h3>

	<form class="contact-form">
		<label for="email-input">Email address</label>
		<input type="email"
			id="email-input"
			placeholder="john.doe@example.com"
			required>

		<label for="message-textarea">Message</label>
		<textarea id="message-textarea" rows="8" cols="50"></textarea>

		<button type="submit">Submit</button>
	</form>
{% endblock %}
