{% set title = "FAQ" %}

{% extends "client_project/base.html" %}

{% block head %}
	<link rel="stylesheet" href="styles/faq.css">
{% endblock %}

{% block content %}
	<form class="accordion">
		{% macro render_row(i, question, answer) %}
			<div class="accordion-row">
				<input type="radio" id="question-{{ i }}-radio" name="question">
				<label for="question-{{ i }}-radio">
					{{ question }}
					<span class="accordion-unselected-icon material-symbols-outlined">expand_more</span>
					<span class="accordion-selected-icon material-symbols-outlined">expand_less</span>
				</label>

				<p class="accordion-body">
					{{ answer }}
				</p>
			</div>
		{% endmacro %}

		{{ render_row(0, "Question 1", "Answer 1") }}
		{{ render_row(1, "Question 2", "Answer 2") }}
		{{ render_row(2, "Question 3", "Answer 3") }}
	</form>
{% endblock %}
