{% set title = "FAQ" %}

{% extends "client_project/base.html" %}

{% block head %}
	<link rel="stylesheet" href="styles/faq.css">
{% endblock %}

{% block content %}
	<form class="accordion">
		{% macro render_row(i, question, answer) %}
			<div class="accordion-row">
				<input type="radio" id="question-{{ i }}-radio" name="question">
				<label for="question-{{ i }}-radio">
					{{ question }}
					<span class="accordion-unselected-icon material-symbols-outlined">expand_more</span>
					<span class="accordion-selected-icon material-symbols-outlined">expand_less</span>
				</label>

				<p class="accordion-body">
					{{ answer }}
				</p>
			</div>
		{% endmacro %}

		{{
			render_row(
				0,
				"What purpose does Singatopore serve besides an informational one?",
				"Despite there being about 50,000 stray cats in Singapore, less than 140 reside in the Singapore's SPCA as of June 2020. Singatopore recognizes the disorganization surrounding Singapore's stray cat population and strives to provide a centralized source of relief for them."
			)
		}}

		{{
			render_row(
				1,
				"What authority does Singatopore have to care for Singapore's strays?",
				"Singatopore is not endorsed by any of Singapore's governmental organizations; instead, it is an independent, mainly student-led organization whose mission is to deploy community-provided resources, be them voluntarily supplied food, blankets, cleaning supplies, etc.."
			)
		}}

		{{
			render_row(
				2,
				"Who is charged with carrying out Singatopore's mission?",
				"Singatopore is a collective effort distributed across mainly students, despite assistance from outside the university being welcome. As mentioned on our homepage, the organization is led by Amanda Lim, an NUS student. Some students from the Anglo-Chinese Junior College (ACJC), one of Singapore's most prestigious JCs, contribute additionally."
			)
		}}
	</form>
{% endblock %}
