h3 {
	margin-bottom: 0.75rem;
	margin-top: 0;
}

#salaries-table {
	border-collapse: collapse;
}

#salaries-table, #salaries-table td, #salaries-table th {
	border: 1px solid lightgray;
}

#salaries-table, .salary-form, .show-statistics-button {
	margin-bottom: 1.5rem;
}

#salaries-table td, #salaries-table th {
	padding: 0.25rem 0.5rem;
}

.salary-form label {
	margin-right: 0.5rem;
}

.salary-statistic {
	margin-bottom: 0.25rem;
	margin-top: 0;
}

.show-salaries-button {
	margin-bottom: 0.25rem;
}

.show-salaries-button, .show-statistics-button {
	display: block;
}
