a {
	color: #2E6171;
}

body {
	display: flex;
	flex-direction: column;
	font-family: sans;
	margin: 0;
	min-height: 100vh;
}

fieldset {
	border: none;
	margin: 0;
	margin-bottom: 0.5rem;
	padding: 0;
}

footer {
	display: flex;
	justify-content: center;
	margin-top: auto;
	text-align: center;
}

header {
	align-items: center;
	justify-content: space-between;
	background-color: #2E6171;
	display: flex;
}

hr {
	background-color: #d0d0d0;
	border: none;
	height: 1px;
}

main {
	margin: 0 2rem;
}

.attribution-container {
	border-top: 1px solid lightgray;
	padding: 2rem 0;
	width: 50%;
}

.attribution-container a {
	text-decoration: none;
}

.nav-link:not(:last-of-type) {
	margin-right: 1rem;
}

.nav-link a {
	color: lightgray;
	font-weight: 500;
	text-decoration: none;
}

.nav-link-container {
	display: flex;
	list-style-type: none;
	margin: 0;
	margin-right: 2rem;
}

.nav-link-selected a {
	color: #EEF4D4;
	font-weight: bold;
}

.title {
	margin: 0;
	padding: 1rem 0 1rem 1rem;
}

.title a {
	color: lightgray;
	text-decoration: none;
}
