{% extends "itis3135/base.html" %}

{% set title = "Course Contract" %}

{% block head %}
	<link rel="stylesheet" href="styles/contract.css">
{% endblock %}

{% block content %}
	<div class="contract-container">
		<h2>Course Contract</h2>
		<p>
			I, Jaden K. Peterson, agree to abide by the terms in my Spring 2023 ITIS 3135, Web Application Design and Development course with my instructor, D.I. von Briesen.
		</p>

		<p>
			I understand that all work that I do on my school and personal websites will be publicly available to the world. I will not put information there that is inappropriate for schoolwork, or that I wish to keep private.
		</p>

		<p>
			Signed,
			<br>
			Jaden K. Peterson, March 17, 2023
		</p>
	</div>
{% endblock %}
