{% extends "itis3135/base.html" %}

{% set title = "Project 1 Peer Review 2" %}

{% block content %}
	<h3>Reviewee: Lane Brantley</h3>

	<p>I wasn't able to access Lane's project from the link they provided.</p>

	<ol>
		<li>Your submission leads right to the page to be reviewed (or if instructed the primary page with links to the page, or both) ❌</li>
		<li>There are no spaces or upper-cases in the file/folder names, including scripts, images, etc. ❌</li>
		<li>
			Design
			<ol>
				<li>Page has sufficient contrast/font sizing so as to be easy to read ❌</li>
				<li>Page has site colors and fonts using the standard .css file, unless this assignment requires a unique/standalone/embedded one ❌</li>
				<li>
					CRAP
					<ol>
						<li>Contrast ❌</li>
						<li>Repetition ❌</li>
						<li>Alignment ❌</li>
						<li>Proximity ❌</li>
					</ol>
				</li>
			</ol>
		</li>

		<li>
			Page has within it:
			<ol>
				<li>Header ❌</li>
				<li>Main ❌</li>
				<li>Footer ❌</li>
				<li>(optional) nav for main menu between header and main ❌</li>
			</ol>
		</li>

		<li>
			Header has site/brand header with text in an h1 ❌
			<ol>
				<li>If this is a homework page it's likely something like Student Name * Course ID Course Name</li>
				<li>If this is a "branded page" it should be the brand/company</li>
				<li>DO NOT INCLUDE THE PAGE NAME IN THE HEADER</li>
				<li>Understand the difference between head, header, and heading</li>
			</ol>
		</li>

		<li>Main starts with name of page as an h2 and does not include name of site/brand ❌</li>
		<li>Page has brand tagline somewhere (make up a slogan and include it on every page in a consistent location) ❌</li>
		<li>
			Page has footer with
			<ol>
				<li>Menu for user's pages ❌</li>
				<li>Page has html validation button/link and validates ❌</li>
				<li>Page has css validation button/link and validates ❌</li>
			</ol>
		</li>

		<li>Page has specific requirements for this assignment (make a checklist from that assignment and make sure you've covered everything there). If there is a conflict between what you see here and in the instructions, ask on the class forums about it. ❌</li>
	</ol>
{% endblock %}
